
@media screen and (max-width: 600px) {
    
    .login{
    height: 100vh;
    background-color: #091834;
    z-index: -1;
}
.image-img img{
    width: 100vw;
    height: 40vh;
}
.image-img{
    position: absolute;
    z-index: 1;
}
.floating-arrow{
    margin: 10px;
    padding: 5px;
    position: absolute;
    float: left;
    background-color: rgba(0, 0, 0, 0.4);
}
.login-form{
    height: 60vh;
    background-color: #091834;
    z-index: 2;
   color: white;
    /* border-radius: 10px ; */
    /* border-top: solid 5px rgba(255, 255, 255, 0.1); */
}
.login-form form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.login-form form .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.login-form form input{
height: 30px;
width: 300px;
border-radius: 50px;
padding: 5px;
background-color:rgba(0, 0, 0, 0.4) ;
border: solid 2px rgba(255, 255, 255, 0.5);
}
.login-btns{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  
}
.on-page{
    color: #FF9F1C;
}
a{ text-decoration: none;
    color: #747474;
}

.login-btns button{
    font-size: 25px;
    background-color: #091834;
    border: none;
    margin-bottom: 25px;

}

.login-btns button:hover{
    color: #FF9F1C;
}
.login-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-btn{
    width: 90vw;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}
}